body{
    width: 100%;
    margin: auto;
}

.titulo-pagina{
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color: darkblue;
    margin: 10px;
    position: relative;
    top: 30px;
}
.barra-nav{
    width: 100%;
    margin: auto;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: rgb(182, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.barra-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.barra-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

.barra-nav ul li a:hover{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.393);
}

.nome-da-propriedade {
    font-size: 2em;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    padding: 20px;
}

.nome-da-propriedade-shorthand {
    font-size: 2em;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    padding: 20px;
}

.valor-da-propriedade {
    font-size: 1,5em;
    font-weight: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding: 30px;
    padding-bottom: 5px;

}

hr {
    margin: 15px;
}

.bloco-1{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3{
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1-sem-altura{
    background-color: lightblue;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-sem-altura{
    background-color: lightpink;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-sem-altura{
    background-color: red;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1-fontes-diferentes{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-fontes-diferentes{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-fontes-diferentes{
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-row{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-column{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-row-reverse{
    display: flex;
    flex-direction:row-reverse;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-column-reverse{
    display: flex;
    flex-direction:column-reverse;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}


.justify-content-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-items-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-items-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-items-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-items-stretch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-items-baseline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-nowrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-wrap-reverse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: antiquewhite;
    padding: 16px 30px; 
    height: 500px;
}

.container-flexflow-row-nowrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-content-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-content-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-content-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-around{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-between{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}
